/* Dropdown menu styles */
.drop_down_menu {
    position: absolute; /* Use absolute positioning */
    top: -1px; /* Adjust the top position as needed */
    right: 130px; /* Adjust the right position as needed */
    z-index: 9999; /* Ensure the dropdown appears above other elements */
    margin-top: -15px;
}



/* Date picker styles */
.date-picker-container {
    position: absolute; /* Use absolute positioning */
    top: 2px; /* Adjust the top position as needed */
    right: 20px; /* Adjust the right position as needed */
    z-index: 9999; /* Ensure the date picker appears above other elements */
}
